.app-buttons{
    display: flex;
    justify-content: space-between;
    width: 94%;
    .btn{
        color: white;
        width: 100px;
        text-align: center;
        font-family: OpenSans-Bold;
        &.blue{
            background-color: blue;
        }
        &.red{
            background-color: red;
        }
        &.green{
            background-color: green;
        }
        &.yellow{
            background-color: yellow;
        }

    }
}