.task-preview {
  
    font-family: OpenSans-Regular;
    border-collapse: collapse;
    // width: 100%;

    td,
    th {
      border: 1px solid #dddddd;
      padding: 8px;
      width: 140px;
      &.done {
        color: $green;
      }
      &.failed{
        color: $red;
      }
      &.new{
        color: $blue;
      }
      &.running{
        color: $yellow;
      }

    }

    tr:nth-child(even) {
      width: 140px;
      background-color: #dddddd;
    }
    button {
      color: white;
      &.done {
        background-color: $red;
      }
      &.failed{
        background-color: $green;
      }
      &.new{
        background-color: $green;
      }
    }
  
}
